* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 16px 20vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    padding: 10vh 20vh;
    display: flex;
    gap: 64px;
}

.hero-content {
    flex: 1 1 0;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.hero-image {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;

}

.hero-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    padding: 8px 32px;
}

.information {
    text-align: center;
    padding: 0 20vh;
    margin-bottom: 64px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.info {
    max-width: 158px;
}

.info-image {
    border: 4px solid #3882F6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    margin-bottom: 8px;
}

.info-text {
    color: #808080;
}
.quote-section {
    background-color: #E5E7EB;
    padding: 10vh 30vh;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-owner {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    text-align: right;
}

.action-section {
    color: #E5E7EB;
}

.action-box{
    margin: 10vh 20vh;
    padding: 64px 128px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-main {
    font-size: 24px;
    font-weight: 700;
}

.action-secondary{
    font-size: 18px;
}

.action-right button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    padding: 8px 32px;
}